<div class="modal-content">
    <h2 class="mat-dialog-title">{{ data.name }}</h2>
    <button mat-icon-button class="close-button" mat-dialog-close>
      ✖
    </button>
  
    <div class="task-info">
      <h3>{{ data.date }}</h3>
      <p class="description">{{ data.description }}</p>
    </div>

    <div class="modal-footer">
      <button class="complete-button" mat-dialog-close>
        Completar
      </button>
      <div [class]="data.done ? 'status-icon done' : 'status-icon not-done'"></div>
    </div>
    
</div>
  
