<div class="modal-content">
    <h2 class="mat-dialog-title">{{ data.title }}</h2>
    <h3>{{ data.location }}</h3>
    <button mat-icon-button class="close-button" mat-dialog-close>
      ✖
    </button>
  
    <div class="task-info">
      <h3>{{ data.hour | date:"MMM dd, yyyy 'a las' hh:mm a"}}</h3>
      <p class="description">{{ data.description }}</p>
    </div>

    <div class="modal-footer">
      @if(data.status==='done'){
        <button class="complete-button" mat-dialog-close (click)="completeTask('pending')">
          Completar
        </button>
      }@else{
        <button class="complete-button" mat-dialog-close (click)="completeTask('done')">
          Completar
        </button>
      }
      
      <div [class]="data.status==='done' ? 'status-icon done' : 'status-icon not-done'"></div>
    </div>
    
</div>
  
