<div class="login-container">
  <button class="register-button">Registrarse</button>

  <div class="login-header">
    <span class="user-icon">👤</span>
  </div>

  <div class="login-form">
    <label for="username">Usuario</label>
    <input type="text" id="username" placeholder="Usuario" class="input-field" [(ngModel)]="username" />
    
    <label for="password">Contraseña</label>
    <input type="password" id="password" placeholder="Contraseña" class="input-field" [(ngModel)]="password" />
    
    <button class="login-button" (click)="login()">Login</button>
  </div>
</div>
