<div class="task-list-container">

  <button class="logout-btn" (click)="logout()"> Cerrar sesión</button>

  <button *ngIf="listType === 'group'" class="invite-btn" (click)="onCode()">Invitar miembros +</button>

  <div class="header-container">
      
      <h1 class="title">
          {{ listType === 'personal' ? 'Lista personal' : groupName }}
      </h1>

      
      <button *ngIf="isAdmin" class="settings-btn">⚙</button>
      <button *ngIf="!isAdmin && listType === 'group'" class="info-btn" (click)="onClickGroupDetail()">ℹ</button>
  </div>

  
  <div class="filter-buttons">
      <button class="btn active">Hechas</button>
      <button class="btn">No hechas</button>
      <button class="btn">↕</button>
  </div>


   
  @if(getUser()==-1) {
    <h1 class="title">
        No hay nada
    </h1>
} @else {
        <div class="task-card" *ngFor="let task of taskList; index as i">
            
            <div class="task-info" (click)="onClickTask(task)">
                <h3>{{ task.title }}</h3>
                <p>{{ task.hour | date:"MMM dd, yyyy 'at' hh:mm a"}}</p>
            </div>
            @if (task.status === 'done') {
                <div class="status-icon" [ngClass]=" 'done'" >
                    <!--(click)="toggleTaskStatus(i)-->
                </div>
            }@else {
                <div class="status-icon" [ngClass]=" 'not-done'">
                    <!--(click)="toggleTaskStatus(i)-->
                </div>
            }
        </div>
    }

  <button class="add-task-button" (click)="onClickNewTask()">+</button>
</div>
