<div class="task-list-container">

  <button class="logout-btn" (click)="logout()">Cerrar sesión</button>

  <button *ngIf="group" class="invite-btn" (click)="onCode()">Invitar miembros +</button>

  <div class="header-container">
    @if(groupName){
      <h1 class="title">{{ groupName }}</h1>
    }@else{
      <h1 class="title">Lista personal</h1>
    }

    <button *ngIf="isAdmin" class="settings-btn" (click)="onClickAdminGroup()">⚙</button>
    <button *ngIf="!isAdmin && group" class="info-btn" (click)="onClickGroupDetail()">ℹ</button>
  </div>

  <div class="filter-buttons">
    <button class="btn" (click)="filterTasks('done')">Hechas</button>
    <button class="btn" (click)="filterTasks('pending')">No hechas</button>
    <button class="btn" (click)="filterTasks('')">↕</button>
  </div>

  <div *ngIf="!group; else groupView">
    <!-- Personal view -->
    <div class="card-container">
      <div *ngIf="taskList">
        <div class="task-card" *ngFor="let task of taskList; index as i">
          <div class="task-info" (click)="onClickTask(task)">
            <h3>{{ task.title }}</h3>
            <p>{{ task.hour | date:"MMM dd, yyyy 'at' hh:mm a"}}</p>
          </div>
          <div class="status-icon" [ngClass]="task.status === 'done' ? 'done' : 'not-done'"></div>
        </div>
      </div>
    </div>

    <button class="add-task-button" (click)="onClickNewTask()">+</button>
  </div>

  <ng-template #groupView>
    <div *ngIf="isAdmin; else nonAdminView">
      <!-- Admin view -->
      <div class="card-container">
        <div *ngIf="taskGroupList">
          <div class="task-card" *ngFor="let task of taskGroupList; index as i">
            <div class="task-info" (click)="onClickTask(task)">
              <h3>{{ task.title }}</h3>
              <p>{{ task.hour | date:"MMM dd, yyyy 'at' hh:mm a"}}</p>
            </div>
            <div class="status-icon" [ngClass]="task.status === 'done' ? 'done' : 'not-done'"></div>
          </div>
        </div>
      </div>

      <button class="add-task-button" (click)="onClickNewGroupTask(group.id)">+</button>
    </div>

    <ng-template #nonAdminView>
      <!-- Non-admin view -->
      <div class="card-container">
        <div *ngIf="taskGroupList">
          <div class="task-card" *ngFor="let task of taskGroupList; index as i">
            <div class="task-info" (click)="onClickTask(task)">
              <h3>{{ task.title }}</h3>
              <p>{{ task.hour | date:"MMM dd, yyyy 'at' hh:mm a"}}</p>
            </div>
            <div class="status-icon" [ngClass]="task.status === 'done' ? 'done' : 'not-done'"></div>
          </div>
        </div>
        <button class="add-task-button" (click)="onClickNewGroupTask(group.id)">+</button>
      </div>
    </ng-template>
  </ng-template>

</div>