<div class="dashboard-container">
    <aside class="sidebar">
      <div class="user-profile">
        <img src=".\assets\user-avatar.png" alt="Usuario" (click)="onEditUser()">
        <p>Marcos López</p>
      </div>
      <nav class="menu">
        <button> P </button>
        <button> G1 </button>
        <button> G2 </button>
        <button class="add-group" (click)= "onAddGroup()"> + </button>
      </nav>
    </aside>
  
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  