<div class="dashboard-container">
    <aside class="sidebar">
      <div class="user-profile">
        <img src=".\assets\user-avatar.png" alt="Usuario" (click)="onEditUser()">
        <p class="user-name">{{ this.name}}</p>
      </div>

      <nav class="menu">
        <button class="personal" (click)="onOpenPersonal()">P</button>
        <ng-container *ngIf="groupList">
          <button (click)="onOpenGroup(group)" *ngFor="let group of groupList; index as i">
            {{ group.name.charAt(0).toUpperCase() }}
          </button>
        </ng-container>

      </nav>
      <nav class="menu-add-group"><button class="add-group" (click)="onAddGroup()"> + </button></nav>
    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
