.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 100px;
  background-color: #754C29;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  overflow-y: hidden;
  overflow: hidden; 
}


.user-profile {
  text-align: center;
  color: white;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  max-width: 90%; 
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 5px; 
  min-height: 0;
  overflow-y: auto; 
}

.menu button {
  width: 50px;
  height: 50px;
  min-height: 50px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.add-group {
  background-color: #C7E65B;
  margin-top: auto; /* Empuja el botón hacia abajo */
}
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #F8F4DC;
}

.user-profile img {
  width: 50px;  /* Tamaño fijo */
  height: 50px; /* Tamaño fijo */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Evita que la imagen se deforme */
  border: 2px solid white; /* Opcional: Borde para mejorar visibilidad */
}
