.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 98.9vh;
  width: 100px;
  background-color: #754C29;
  padding-top: 10px;
  overflow: hidden;
}


.user-profile {
  text-align: center;
  color: white;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  max-width: 90%; 
  display: block;
}

.menu  {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 5px;
  overflow-y: auto;
  max-height: calc(80vh - 50px); 
  padding-bottom: 100px;
}

.menu-add-group {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.menu button {
  width: 50px;
  height: 50px;
  min-height: 50px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.menu-add-group button {
  width: 50px;
  height: 50px;
  min-height: 50px;
  margin: 10px;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.add-group {
  background-color: #C7E65B;
  width: 50px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;  
}

.personal {
  background-color: #5be6df; 
  color: #000; 
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #F8F4DC;
}

.user-profile img {
  width: 50px;  
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid white; 
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
-ms-overflow-style: none; 
scrollbar-width: none;  
}
